# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native builds and credentials
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-cache/
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
expo-debug.log*

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db

# Local environment
.env
.env.*.local
.env.local

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# Expo example project
app-example
